<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historiska_händelser</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
 <header>Historiska Händelser</header>
    <nav>
        <ul>
            <li>
                <a href="/view/Historia_händelser.html">
                Historia_händelser</a>
            </li>
            <li>
                <a href="/view/Grunden.html">
                Grunden</a>
            </li>
            <li>
                <a href="/view/20_tal.html">
                20_talet</a>
            </li>
            <li>
                <a href="/view/Webb_Pubb.html">
                webbpubliceringssystem</a>
            </li>
            <li>
                <a href="/view/Startsida.html">
                startsida</a>
            </li>
        </ul>
    </nav>
 <center>
 <div>
  <header>1963</header>
   <h1>intergalaktiskt nätverk</h1>
   <P>När Sovjetunionen 1957 skickar upp satelliten i rymden blir USA vettskrämda. 
    De inser att de också behöver agera och startar myndigheten ARPA (Advanced Research Projects Agency) 
    för att se till att försvarsforskningen kan ligga i framkant.</P>
   <p>Under denna tid blir psykologen och datorforskare JCR Licklider intresserad av hur människor och datorer kan interagera. 
    Vid denna tid är datorer stora räknemaskiner som fyller salar, men Licklider tror att det i framtiden kommer att finnas andra användningsområden.</p>
   <p>för att åstadkomma visionerna krävs ett tidsdelningssystem, så att flera användare kan använda datorerna samtidigt. 
    Han kallar tanken för ”thinking centers”. Poängen var att avlasta människan och göra henne mer effektiv </p>
   <p>När ARPA startar en avdelning för IT-innovation 1962 får JCR Licklider jobbet att leda den. Där får han möjlighet att omsätta sina tankar till verklighet. 
    Han beskriver i ett memo som går runt på Pentagon 1963 att det landet behöver är ett parallellt system för kommunikation, 
    i händelse av att Sovjet skulle bomba det centraliserade telefonnätet. Han föreslår ett ”intergalaktiskt nätverk” där datorer över hela världen kan prata med varandra, decentraliserat.</p>
   <p>Men Licklider har inga konkreta förslag på hur det i praktiken ska gå till. Liknande idéer har i ärlighetens namn formulerats tidigare, men för första gången är de formulerade av person med möjlighet att förverkliga dem. 
    Året därpå blir Licklider chef över DARPA (Defense Advanced Resarch Project Agency), ett projekt inom den amerikanska militären, som sedermera kommer att skapa föregångaren till internet: Arpanet. Bollen är i rullning.</p>
  
    <iframe width="600" height="350" src="https://www.youtube.com/embed/3GfOTUoBpRw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
 </div>
 <div>
  <header>1973</header>
   <h1>Arpanet blir äntligen ett internationellt nät – via Sverige</h1>
   <p>Fram till 1973 har Arpanet bara varit en angelägenhet för amerikanska försvaret. Men i och med en koppling till Norge (via Sverige) kan man för första gången tala om ett internationellt nät.</p>
   <p>Arpanet heter datornätverket som kommer att utgöra grunden i det vi numera kallar internet. Till en början är bara ett fåtal datorer inkopplade, men antalet växer i USA i början av 1970-talet.</p>
   <p>Det dröjer till den 15:e juni 1973 innan nätet blir internationellt. Den första dator utanför USA som kopplas in på Arpanet är norsk och den nås via satellit. Vad inte alla vet är att Sverige också har en roll i denna internethistoria.</p>
   <p>Den första internetkontakten går nämligen via markstationen i Tanum i Bohuslän, som sedan skickar vidare signalen till Norge och Norsar</p>
   <p>Anledningen till att just vårt grannland blir först ut är de goda militära kontakterna norrmännen under dessa kalla krigs-år har med amerikanerna. Månaden efter får även en dator i Storbritannien kontakt med Arpanet.</p>
   <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Tanum_Teleport_05.JPG"" alt="markstationen tanum" width="600px">
 </div>
 <div>
  <header>1980</header>
   <h1>Plötsligt kan du spela mot främlingar – när rollspelet MUD gör succé</h1>
   <p>1980 blir internet en arena för spelare. Rollspelet MUD (också kallat Essex MUD eller MUD1) når ut globalt i samband med att Essex Universitet kopplar ihop sitt nätverk med Arpanet.</p>
   <p>Multi-User Dungeon är textbaserade och ofta äventyrsspel som utspelar sig i fantasivärldar med påhittade djur och monster. Uppgiften är att ha ihjäl fantasidjuren, utforska och lösa uppgifter. Allt utan bild och ljud.</p>
   <p>Upplägget i berättelserna påminner inte sällan om det populära bordsrollspelet Dungeons & Dragons, och att delta är för det mesta gratis.</p>
   <p>MUD-spelen är på så vis en föregångare till populära multiplayerspel som World of Warcraft, EverQuest och Ultima Online.</p>
   <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/64/MUD1_screenshot.gif/220px-MUD1_screenshot.gif" alt="MUD-spel" width="450px">
 </div>
 <div>
  <header>1993</header>
  <h1>Webbläsaren Mosaic blir en dundersuccé – nu blir surfandet njutbart</h1>
  <p>Mosaic föregås av flera tidigare webbläsare som WorldWideWeb, Erwise och ViolaWWW. Däremot är det den första webbläsaren som får ett brett genomslag, särskilt när Windows-versionen kommer i november 1993.</p>
  <p>Det som gör att Mosaic blir så populär är att den gör webbsurfandet njutbart.</p>
  <p>Från att ha varit en textbaserad och relativt torr aktivitet blir surfandet lättare och roligare när grafik, bilder, ljud och video visas tillsammans med texten, istället för i egna fönster som är vanligt tidigare.</p>
  <p> Mosaic hinner komma upp i version 3.0 innan utvecklingen läggs ner i januari 1997. Då har den konkurrerande webbläsaren Netscape Navigator gått om Mosaic i popularitet.</p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/NCSA_Mosaic_Browser_Screenshot.png" alt="Mosaic-webbbrowser" width="500px"
 </div>
 <div>
  <header>2001</header>
   <h1>Wikipedia och Susning.nu förnyar uppslagsverken – nu får alla skriva</h1>
   <p>I början av 2001 startas Wikipedia, ett slags gratis uppslagsverk på nätet som skapas och redigeras av användarna själva.</p>
   <p>Sverige är ett av de första länderna som får ett Wikipedia på sitt eget språk, arbetet sätter igång i maj 2001 även om det inte blir riktigt aktivt förrän 2002.</p>
   <p>Den äldsta bevarade svenska Wikipedia-sidan är Svenska och publicerades 23 maj 2001.</p>
   <p>I oktober 2001 startar Susning.nu av programmeraren Lars Aronsson, med hjälp av programvaran UseModWiki, som är fri att använda av vem som helst.</p>
   <p>Plötsligt finns samlad svensk information om allt från växthuseffekten till karaktärerna i Simpsons, vilket är något helt nytt.</p>
   <p>Klotter blir sajtens fall. I april 2004 stoppas möjligheterna för allmänheten att redigera inlägg, med effekten att uppdateringarna minskar kraftigt. Då finns 60 000 artiklar på svenska om olika ämnen, skrivna av entusiaster som kallar sig själv ”susare”.</p>
   <p>Men vandaliseringen visar sig omöjlig att stoppa.</p>
   <p>I januari 2005 blir svenska Wikipedia större än Susning.nu och slaget är avgjort. Lars Aronsson engagerar sig därefter i Wikipedias svenska avdelning.</p>
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Wikipedia-logo-v2-sv.svg/1200px-Wikipedia-logo-v2-sv.svg.png" alt=Wikipedia width="450px">
 </div>
 <div>
  <header>2011</header>
   <h1>Mobilt bank-id och Swish sopar banan med kontanter</h1>
   <p>Diskussionen om e-legitmationer i Sverige har varit lång. Men när det till slut kommer en användarvänlig lösning är det inte det offentliga Sverige som tagit fram den utan bankerna.</p>
   <p>Mobilt Bank-ID lanseras 2011 och gör det möjligt att både logga in och signera på webben. Något som öppnar upp för att en rad mynidghetsärenden enklare kan utföras på internet samt förenklar e-handeln och banar väg för Swish.</p>
   <p>Tjänsten Bank-ID har funnit till stationära datorer och som dosa kopplat till internetbanker länge men det är först när mobilt bank-id lanseras 2011 som användningsområdena utökas rejält.</p>
   <p> Produkten ägs av storbankerna i Sverige – Swedbank, Handelsbanken, SEB, Danske Bank, Ikano Bank, Länsförsäkringar Bank och Skandiabanken – genom bolaget Finansiell ID.</p>
   <p>Samma grupp lanserar ett år senare den mobila betaltjänsten Swish som möjliggörs av att den som skickar pengar signerar överföringen med Mobilt Bank-ID.</p>
   <p>Användningen av både Mobilt Bank-ID och Swish ökar stort under hela 2010-talet. 2019  använder 84 procent av Sveriges befolkning (16+ år) Mobilt BankID och nästan lika många, 79 procent Swish, enligt undersökningen Svenskarna och internet.</p>
   <p>En följd av att de båda  elektroniska tjänsterna ökar i popularitet blir att kontantanvändningen i Sverige rasar. Andelen kontanta betalningar i handeln minskar från nära 40 till cirka 15 procent mellan 2010 och 2016</p>
   <p>Detta gör Sverige unikt i världen som det land som använder minst kontanter.</p>
   <img src="https://www.gp.se/image/policy:1.26908734:1592480177/6BkCPQPnzd7Y2-jPBvJLgvxrFz4-jpg.jpg?f=Wide&w=1024&$p$f$w=5e060e5" alt=mobilt_bank-id width="800px">
 </div>
 </center>
</body>
</html>