<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="stylesheet" href="/style.css">
    <title>Startsida</title>
</head>
<header>
    Darkmode Vibe
</header>
<body>
 <title>Startsida</title>
    <nav>
        <ul>
            <li>
                <a href="/view/Historia_händelser.html">
                Historia_händelser</a>
            </li>
            <li>
                <a href="/view/Grunden.html">
                Grunden</a>
            </li>
            <li>
                <a href="/view/20_tal.html">
                20_talet</a>
            </li>
            <li>
                <a href="/view/Webb_Pubb.html">
                webbpubliceringssystem</a>
            </li>
            <li>
                <a href="/view/Startsida.html">
                startsida</a>
            </li>
        </ul>
    </nav>
  <div>
  <center>
   <h1 style="font-size: xx-large;">En sida gjord av Simon Sundström, på denna sidan kan du läsa om info om mina personliga tankar om olika saker.</h1>
    <p>Det finns info om Historiska händelser från 60-talet till 10-talet, men även en händelse från 20-talet om mina tankar och åsiket om det.</p>
    <p>Det finns även info om 2 olike webbpubliceringssystem som du kan läsa.</p>
    <p>Dom grundläggande principerna för webben finns det också info om som du kan läsa.</p>
    <p>Sidan är permanent darkmode för man ska inte behöva tortera sina besökare med en krit vit sida som bränner sönder ögonen.</p>
  </center>
  </div>
</body>
</html>