<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webb_pubb</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
 <header>Två olika webbpubliceringssystem</header>
  <nav>
        <ul>
            <li>
                <a href="/view/Historia_händelser.html">
                Historia_händelser</a>
            </li>
            <li>
                <a href="/view/Grunden.html">
                Grunden</a>
            </li>
            <li>
                <a href="/view/20_tal.html">
                20_talet</a>
            </li>
            <li>
                <a href="/view/Webb_Pubb.html">
                webbpubliceringssystem</a>
            </li>
            <li>
                <a href="/view/Startsida.html">
                startsida</a>
            </li>
        </ul>
    </nav>
 <center>
  <header>Fedora Commons</header>
  <img src="https://docs.fcrepo.org/images/fedora_logo.png" alt="Fedora_Commons" width="450px">
   <p>The Fedora Repository open source software is a project supported by the DuraSpace not-for-profit organization. 
    The software has its origins in the Flexible Extensible Digital Object Repository Architecture (i.e., Fedora) which was originally designed and developed by researchers at Cornell University.</p>
   <p>Fedora is an architecture for storing, managing, and accessing digital content in the form of digital objects inspired by the Kahn and Wilensky Framework.</p>
   <p>Fedora began as a DARPA and National Science Foundation funded research project at Cornell University's Digital Library Research Group in 1997, where the first reference implementation was written in Java using a CORBA-based distributed object approach</p>
   <p>The University of Virginia began experimenting[6] with the Cornell software and later joined with Cornell to establish the Fedora Repository project that re-implemented Fedora as open source software. 
    Since then, several modifications have been made to the architecture,[7] and in late 2005, version 2.1 was released.</p>
   <p>Fedora defines a set of abstractions for expressing digital objects, asserting relationships among digital objects, and linking "behaviors" (i.e., services) to digital objects.</p>
   <p>In 2003 Red Hat, Inc. applied for trademark status for the name "Fedora" to be associated with their Linux operating system project.</p>
   <p>Cornell and UVA formally disputed the request and, as a final settlement, 
    all parties settled on a co-existence agreement that stated that the Cornell-UVA project could use the name when clearly associated with open source 
    software for digital object repository systems and that Red Hat could use the name when it was clearly associated with open source computer operating systems.</p>
    <br>
    <br>
    <br>
   <p>Fedora provides a general-purpose management layer for digital objects</p>
   <p>Object management is based on content models that represent data objects (units of content) or collections of data objects. The objects contain linkages between datastreams (internally managed or external content files), metadata (inline or external),
     system metadata (including a PID – persistent identifier – which is unique to the repository), and behaviors that are themselves code objects that provide bindings or links to disseminators
     (software processes that can be used with the datastreams). Content models can be thought of as containers that give a useful shape to information poured into them; if the information fits the container, it can immediately be used in predefined ways.</p>
   <p>Fedora supports two types of access services: a management client for ingest, maintenance, and export of objects; or via API hooks for customized web-based access services built on either HTTP or SOAP.</p>
   <p>A Fedora Repository provides a general-purpose management layer for digital objects, and containers that aggregate mime-typed datastreams (e.g., digital images, XML files, metadata).</p>
   <p>Out-of-the-box Fedora includes the necessary software tools to ingest, manage, and provide basic delivery of objects with few or no custom disseminators, or can be used as a backend to a more monolithic user interface.</p>
   <p>Fedora supports ingest and export of digital objects in a variety of XML formats. This enables interchange of objects between Fedora and other applications, as well as facilitating digital preservation and archiving.</p>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  <header>CMSimple</header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/CMSimpleXHLogo.png" alt=CMSimple_logo width="400px">
   <p>CMSimple is a free content management system. It aims to be simple, small and fast. As it is written in PHP it runs on Linux/Apache servers, or on Win32 with Apache or IIS. CMSimple is licensed under the terms of the GPL3.</p>
   <p>CMSimple does not need a database as it writes page data directly to a HTML file on the web server. </p>
   <p>This simplifies installation and backups, and also makes CMSimple a low cost option on web hosts which charge extra for database access.</p>
   <p>Configuration files and language files are also saved in a PHP file. Like many Content Management Systems, CMSimple offers a wide variety of plug-ins, including many made by third parties.</p>
   <br>
   <br>
   <br>
   <p>Structure; The look and feel of a CMSimple website is stored in a template file using HTML and css. This can be designed by the installer or selected from over 500 free templates available through CMSimple. </p>
   <p>Third-party designers can be commissioned to provide a unique template. All error messages and text strings are contained in a plain text file. These are available in many languages, and can be translated by the installer to match the users dialect or language. 
      If support is needed, the installer can make necessary changes on the user's low-spec machine or remotely.</p>
   <p>A basic site, using a default template, can be uploaded to the server, configured and populated with pre-existing text within 20 minutes.</p>
   <p>Template customization takes more time, and requires knowledge of HTML and CSS.[3] Several hundred templates are available at no cost.</p>
   <br>
   <br>
   <br>
   <p>Licensing: On 31 December 2009, CMSimple was released under the GPL. Previously, commercial licences were sold.</p>
   <p>When a visible link to CMSimple was kept on the website, then CMSimple was free to use, and the Affero GPL licence applied; when the link was removed a licence needed to be purchased.</p>
   <p>A community of users provide support through a forum and wiki. About 2500 licences were purchased as of December 2008.</p>
 </center>
</body>
</html>